html {
  font-family: Helvetica, sans-serif;
  color: white;
}

h1 {
  text-align: center;
  font-size: 50px;
}

html {
  background: black;
}

#download {
  color: turquoise;
  font-weight: bold;
  text-align: center;
}
