html {
  font-family: Helvetica, sans-serif;
  color: white;
}

h1 {
  text-align: center;
  font-size: 50px;
}
h2 {
  text-align: center;
  color: grey;
}

html {
  background: black;
}

#download {
  color: turquoise;
  font-weight: bold;
  text-align: center;
}

video {
  display: block;
  margin: auto;
}
img {
  display: block;
  margin: auto;
}
