h1 {
  font-family: Verdana;
  font-weight: normal;
  text-align: center;
  font-size: 50px;
  color: white;
}
h2 {
  font-family: Verdana;
  text-align: center;
  color: grey;
  font-size: 21px
}

html {
  background: black;
}

.download, p {
  color: Aquamarine;
  font-weight: normal;
  text-align: center;
  font-family: sans-serif;
  font-size: 16px;
}

#personal {
  font-family: Verdana;
  font-weight: 300;
  font-size: 42px;
  text-align: center;
}
video {
  display: block;
  margin: auto;
}
img {
  display: block;
  margin: auto;
}
